<nav class="navbar navbar-expand-sm navbar-light bg-white" >
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/nyp_logo.png')}}" width="50"></a>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Appointments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pharmacy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Application Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contactus">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/retrieveQns">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" >Login</a>
    </li>

  </ul>
</nav>
