{%extends "base.html"%}

{%block title%}<title>Change Password</title>{%endblock%}
{%block content%}
<form method="post" action="{{url_for('change_password')}}">
    <label for="old_password">Old Password</label>
    <input type="password" name="old_password"><br>
    <label for="new_password">New Password</label>
    <input type="password" name="new_password"><br>
    <label for="confirm_password">confirm Password</label>
    <input type="password" name="confirm_password"><br>
    <input type="submit" value="Change Password">

    {%with messages = get_flashed_messages()%}
    {%if messages%}
    {%for message in messages%}
    <span>{{message}}</span>
    {%endfor%}
    {%endif%}
    {%endwith%}
</form>
{%endblock%}
