{% extends "base.html" %}
{% block title %} Contact us{% endblock %}


{% block content %}
<!-- to alert the user that the form has been successfully send after clicking the submit button-->
{% from "includes/_formHelper.html" import render_field %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="'alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contactus.css') }}">
    <div>
        <form method='POST' action="#">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Contact Us</legend>
                <div class="form-group" >
                    {{ render_field(form.name,class="form-control") }}
                </div>
                <div class="form-group" id="'email">
                    {{ render_field(form.email, class="form-control") }}
                </div>
                <div class="form-group" id="subject">
                    {{ render_field(form.subject, class="form-control") }}
                </div>
                <div class="form-group" id="enquiries">
                    {{ render_field(form.enquiries , class="form-control") }}
                </div>
            </fieldset>
            <input type="submit" value="Submit" class="btn btn-primary"/>

        </form>
    </div>
{% endblock %}
